# Dépendances
node_modules/
.pnpm-store/

# Builds
.next/
out/
dist/
build/
*.tsbuildinfo
next-env.d.ts

# Turborepo
.turbo/

# Environnement
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Système
.DS_Store
Thumbs.db

# Éditeurs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Tests / couverture
coverage/
playwright-report/
test-results/
